@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: rgba(0, 0, 0, 0.08); */
}

/* custom css classes */
.flex__center {
  @apply flex justify-center items-center;
}
.active {
  @apply bg-black text-white;
}
.common__transition {
  @apply transition-all duration-300;
}
.common_section {
  @apply mt-32;
}
.common__btn {
  @apply text-xs w-max px-4 py-2 rounded-md bg-black text-white hover:bg-gray-600;
}
